<div id="layoutError">
  <div id="layoutError_content">
      <main>
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-6">
                      <div class="text-center mt-4">
                          <img class="mb-4 img-error" src="assets/img/error-404-monochrome.svg" />
                          <p class="lead">Página não encontrada.</p>
                          <a [routerLink]="['/home']">
                              <i class="fas fa-arrow-left me-1"></i>
                              Voltar para página inicial
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </main>
  </div>
