  <app-title
  [iconClass]="'fa fa-user'"
  [title]="'Pessoa'"
  [subtitle]="'Listagem'"
>
</app-title>

<div class="container">

  <div class="row g-3">

    <div class="col-md-2 mb-2" [routerLink]="['/person-form']">
      <button class="btn btn-warning " tooltip="Novo Cadastro"><i class="fa fa-plus"></i> Novo</button>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle">
        <thead>
          <tr>
            <th scope="col" class="d-none d-md-table-cell">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Telefone</th>
            <th scope="col" class="d-none d-md-table-cell">CPF</th>
            <th scope="col" class="d-none d-md-table-cell">Aniversário</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngIf="persons && persons.length">
          <tr *ngFor="let person of persons" (click)="edit(person.id)" style="cursor: pointer;">
            <td class="d-none d-md-table-cell">{{ person.id }}</td>
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
            <td>{{ person.phones[0]?.number }}</td>
            <td class="d-none d-md-table-cell">{{ person.cpf | cpf }}</td>
            <td class="d-none d-md-table-cell">{{ person.birthDate }}</td>
            <td>
              <button class="btn btn-danger btn-sm" tooltip="Deletar" (click)="openModal($event, person, modalDelecao)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="!persons.length">
          <tr>
            <td colspan="7" class="text-center text-secondary">
              <h6>Nenhuma {{ name }} </h6>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<ng-template #modalDelecao >
  <div class="modal-body text-center">
    <div class="modal-body" *ngIf="personSelect">
      Confirma a exclusão da pessoa <strong>{{ personSelect.firstName }}</strong> ?
    </div>
    <button type="button" class="btn btn-default" (click)="delete()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white;">Carregando ...</p>
</ngx-spinner>
